In [ ]:
import pandas as pd
data = pd.read_csv("adult.csv")
data = data.replace('?', 'Unknown')
data

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,Unknown,77053,HS-grad,9,Widowed,Unknown,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,Unknown,186061,Some-college,10,Widowed,Unknown,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [44]:
# explore dataset
data.education.value_counts()

education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64

In [45]:
data.income.value_counts() # turn it into binary

income
<=50K    24720
>50K      7841
Name: count, dtype: int64

In [46]:
data = pd.concat([data.drop('workclass', axis=1), pd.get_dummies(data.workclass).add_prefix('workclass_').astype(int)], axis=1)
data = pd.concat([data.drop('occupation', axis=1), pd.get_dummies(data.occupation).add_prefix('occupation_').astype(int)], axis=1)
data = pd.concat([data.drop('native.country', axis=1), pd.get_dummies(data['native.country']).add_prefix('native.country_').astype(int)], axis=1)
data = data.drop('education', axis=1)
data = data.drop('fnlwgt', axis=1)
data = pd.concat([data.drop('relationship', axis=1), pd.get_dummies(data.relationship).add_prefix('relationship_').astype(int)], axis=1)
data = pd.concat([data.drop('race',axis=1),pd.get_dummies(data['race']).add_prefix('race_').astype(int)],axis=1)
data = pd.concat([data.drop('marital.status', axis=1), pd.get_dummies(data['marital.status']).add_prefix('marital.status_').astype(int)], axis=1)

In [47]:
data

,age,education.num,sex,capital.gain,capital.loss,hours.per.week,income,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,...,race_Black,race_Other,race_White,marital.status_Divorced,marital.status_Married-AF-spouse,marital.status_Married-civ-spouse,marital.status_Married-spouse-absent,marital.status_Never-married,marital.status_Separated,marital.status_Widowed
0,90,9,Female,0,4356,40,<=50K,0,0,0,...,0,0,1,0,0,0,0,0,0,1
1,82,9,Female,0,4356,18,<=50K,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,66,10,Female,0,4356,40,<=50K,0,0,0,...,1,0,0,0,0,0,0,0,0,1
3,54,4,Female,0,3900,40,<=50K,0,0,0,...,0,0,1,1,0,0,0,0,0,0
4,41,10,Female,0,3900,40,<=50K,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,10,Male,0,0,40,<=50K,0,0,0,...,0,0,1,0,0,0,0,1,0,0
32557,27,12,Female,0,0,38,<=50K,0,0,0,...,0,0,1,0,0,1,0,0,0,0
32558,40,9,Male,0,0,40,>50K,0,0,0,...,0,0,1,0,0,1,0,0,0,0
32559,58,9,Female,0,0,40,<=50K,0,0,0,...,0,0,1,0,0,0,0,0,0,1
32560,22,9,Male,0,0,20,<=50K,0,0,0,...,0,0,1,0,0,0,0,1,0,0

In [48]:
# encode the remaining
data['sex'] = data['sex'].map({'Male': 1, 'Female': 0})
data['income'] = data['income'].map({'>50K': 1, '<=50K': 0})

In [49]:
data

,age,education.num,sex,capital.gain,capital.loss,hours.per.week,income,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,...,race_Black,race_Other,race_White,marital.status_Divorced,marital.status_Married-AF-spouse,marital.status_Married-civ-spouse,marital.status_Married-spouse-absent,marital.status_Never-married,marital.status_Separated,marital.status_Widowed
0,90,9,0,0,4356,40,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
1,82,9,0,0,4356,18,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,66,10,0,0,4356,40,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
3,54,4,0,0,3900,40,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
4,41,10,0,0,3900,40,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,10,1,0,0,40,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
32557,27,12,0,0,0,38,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
32558,40,9,1,0,0,40,1,0,0,0,...,0,0,1,0,0,1,0,0,0,0
32559,58,9,0,0,0,40,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
32560,22,9,1,0,0,20,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0

In [50]:
# only numerical features now
# training 
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

train_data, test_data = train_test_split(data, test_size=0.3)

In [51]:
train_data

,age,education.num,sex,capital.gain,capital.loss,hours.per.week,income,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,...,race_Black,race_Other,race_White,marital.status_Divorced,marital.status_Married-AF-spouse,marital.status_Married-civ-spouse,marital.status_Married-spouse-absent,marital.status_Never-married,marital.status_Separated,marital.status_Widowed
24456,40,10,0,0,0,40,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
27143,60,9,1,0,0,70,1,0,0,0,...,0,0,1,0,0,1,0,0,0,0
20829,51,3,0,0,0,40,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
30431,41,15,1,0,0,50,1,1,0,0,...,0,0,1,0,0,1,0,0,0,0
28852,61,3,1,0,0,40,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27783,38,9,1,0,0,50,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
10189,27,9,0,0,0,40,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
8830,32,9,1,0,0,40,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
32290,51,15,1,0,0,60,1,0,0,0,...,0,0,1,0,0,1,0,0,0,0
18151,28,9,1,0,0,30,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0

In [52]:
test_data

,age,education.num,sex,capital.gain,capital.loss,hours.per.week,income,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,...,race_Black,race_Other,race_White,marital.status_Divorced,marital.status_Married-AF-spouse,marital.status_Married-civ-spouse,marital.status_Married-spouse-absent,marital.status_Never-married,marital.status_Separated,marital.status_Widowed
19116,30,9,0,0,0,20,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
8236,49,13,1,0,0,45,1,0,0,0,...,0,0,1,0,0,1,0,0,0,0
11784,58,13,0,0,0,20,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
27668,41,13,1,0,0,45,1,0,0,0,...,0,0,1,0,0,1,0,0,0,0
383,25,13,1,0,1977,40,1,0,1,0,...,0,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4439,41,9,0,0,0,20,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
19952,39,15,1,0,0,55,1,0,0,0,...,0,0,1,0,0,1,0,0,0,0
27251,41,10,1,0,0,40,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
12361,20,10,0,0,0,20,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
18395,63,10,1,0,0,40,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0

In [53]:
# split into X and y
X_train = train_data.drop('income', axis=1)
y_train = train_data['income']

In [54]:
X_test = test_data.drop('income', axis=1)
y_test = test_data['income']

In [55]:
f = RandomForestClassifier()
f.fit(X_train, y_train)

RandomForestClassifier()

In [56]:
# evaluate on test data
f.score(X_test, y_test)

0.8519807554509161

In [57]:
# importances of features
imp = dict(zip(f.feature_names_in_, f.feature_importances_))
imp

{'age': 0.22619073796180206,
 'education.num': 0.13150029673649036,
 'sex': 0.014912585550320507,
 'capital.gain': 0.11032506431899436,
 'capital.loss': 0.035798659579455924,
 'hours.per.week': 0.11385317659731178,
 'workclass_Federal-gov': 0.00541516499918762,
 'workclass_Local-gov': 0.005720952042202479,
 'workclass_Never-worked': 2.5154114808766084e-10,
 'workclass_Private': 0.01021125894744747,
 'workclass_Self-emp-inc': 0.005952056147647305,
 'workclass_Self-emp-not-inc': 0.00916612192938674,
 'workclass_State-gov': 0.004661258215075687,
 'workclass_Unknown': 0.0016737144096952684,
 'workclass_Without-pay': 6.664533520369111e-05,
 'occupation_Adm-clerical': 0.005569238727960617,
 'occupation_Armed-Forces': 1.5455226240410538e-05,
 'occupation_Craft-repair': 0.006816091517967688,
 'occupation_Exec-managerial': 0.019404168092500975,
 'occupation_Farming-fishing': 0.0054300818034187775,
 'occupation_Handlers-cleaners': 0.003626666030001689,
 'occupation_Machine-op-inspct': 0.004316645387282447,
 'occupation_Other-service': 0.009139569413693356,
 'occupation_Priv-house-serv': 0.0001488135768551705,
 'occupation_Prof-specialty': 0.015920557759405592,
 'occupation_Protective-serv': 0.003078811100246797,
 'occupation_Sales': 0.0066435258794909765,
 'occupation_Tech-support': 0.004871734992403327,
 'occupation_Transport-moving': 0.0051464553980464,
 'occupation_Unknown': 0.0021920548157972628,
 'native.country_Cambodia': 0.0004228255230738429,
 'native.country_Canada': 0.0009527651463188128,
 'native.country_China': 0.00048587057201486756,
 'native.country_Columbia': 0.000309300398790383,
 'native.country_Cuba': 0.0007611797840850419,
 'native.country_Dominican-Republic': 0.00013597336377768474,
 'native.country_Ecuador': 0.0001578565853078541,
 'native.country_El-Salvador': 0.00031456006746049154,
 'native.country_England': 0.0009131597028810613,
 'native.country_France': 0.0004551610277650683,
 'native.country_Germany': 0.0012645310846213721,
 'native.country_Greece': 0.00054088155326757,
 'native.country_Guatemala': 0.00011227925020069897,
 'native.country_Haiti': 7.202286251556897e-05,
 'native.country_Holand-Netherlands': 1.2580206519026982e-06,
 'native.country_Honduras': 1.0842730957863738e-05,
 'native.country_Hong': 9.40779279209712e-05,
 'native.country_Hungary': 0.00017411037118478882,
 'native.country_India': 0.0009378778352033554,
 'native.country_Iran': 0.0005771847293088091,
 'native.country_Ireland': 0.0002522981045455577,
 'native.country_Italy': 0.0010525926687197508,
 'native.country_Jamaica': 0.00036631804358666523,
 'native.country_Japan': 0.0008349177026186086,
 'native.country_Laos': 0.00016106229179028576,
 'native.country_Mexico': 0.002701496364184112,
 'native.country_Nicaragua': 0.00016371823299074668,
 'native.country_Outlying-US(Guam-USVI-etc)': 3.6773313617258704e-05,
 'native.country_Peru': 7.253443638657102e-05,
 'native.country_Philippines': 0.0008837959003920425,
 'native.country_Poland': 0.0005483855523113131,
 'native.country_Portugal': 0.00026775076465889656,
 'native.country_Puerto-Rico': 0.0005020345886285343,
 'native.country_Scotland': 9.003776990379811e-05,
 'native.country_South': 0.0008771533683477355,
 'native.country_Taiwan': 0.00033277800086916134,
 'native.country_Thailand': 0.00010049469885146346,
 'native.country_Trinadad&Tobago': 0.00015672692768386494,
 'native.country_United-States': 0.006432966353887803,
 'native.country_Unknown': 0.0030439008198596693,
 'native.country_Vietnam': 0.0004456139089447118,
 'native.country_Yugoslavia': 0.00029554746456602834,
 'relationship_Husband': 0.03889042415702363,
 'relationship_Not-in-family': 0.008608343362699576,
 'relationship_Other-relative': 0.001670995686081899,
 'relationship_Own-child': 0.008055742533874487,
 'relationship_Unmarried': 0.005786190544483969,
 'relationship_Wife': 0.009257588448143374,
 'race_Amer-Indian-Eskimo': 0.0018332102698253015,
 'race_Asian-Pac-Islander': 0.0032057109322450763,
 'race_Black': 0.005096029093782311,
 'race_Other': 0.0008074914367315047,
 'race_White': 0.00697883036086811,
 'marital.status_Divorced': 0.008359181067304069,
 'marital.status_Married-AF-spouse': 0.0005719157999885307,
 'marital.status_Married-civ-spouse': 0.07874051593703386,
 'marital.status_Married-spouse-absent': 0.0009883835044688183,
 'marital.status_Never-married': 0.02151518299736207,
 'marital.status_Separated': 0.0019057780656784827,
 'marital.status_Widowed': 0.0016483072446784397}

In [58]:
# hyperparameter tuning
from sklearn.model_selection import GridSearchCV

p_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [5, 10, 20],
    'min_samples_split': [2, 5],
    'max_features': ['sqrt', 'log2']
}

grid = GridSearchCV(estimator=RandomForestClassifier(), param_grid=p_grid, verbose=10)
grid.fit(X_train, y_train)

Fitting 5 folds for each of 36 candidates, totalling 180 fits
[CV 1/5; 1/36] START max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=50
[CV 1/5; 1/36] END max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=50;, score=0.840 total time=   0.3s
[CV 2/5; 1/36] START max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=50
[CV 2/5; 1/36] END max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=50;, score=0.838 total time=   0.2s
[CV 3/5; 1/36] START max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=50
[CV 3/5; 1/36] END max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=50;, score=0.835 total time=   0.2s
[CV 4/5; 1/36] START max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=50
[CV 4/5; 1/36] END max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=50;, score=0.844 total time=   0.2s
[CV 5/5; 1/36] START max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=50
[CV 5/5; 1/36] END max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=50;, score=0.838 total time=   0.2s
[CV 1/5; 2/36] START max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=100
[CV 1/5; 2/36] END max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=100;, score=0.831 total time=   0.5s
[CV 2/5; 2/36] START max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=100
[CV 2/5; 2/36] END max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=100;, score=0.835 total time=   0.4s
[CV 3/5; 2/36] START max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=100
[CV 3/5; 2/36] END max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=100;, score=0.840 total time=   0.4s
[CV 4/5; 2/36] START max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=100
[CV 4/5; 2/36] END max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=100;, score=0.851 total time=   0.5s
[CV 5/5; 2/36] START max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=100
[CV 5/5; 2/36] END max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=100;, score=0.834 total time=   0.4s
[CV 1/5; 3/36] START max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=200
[CV 1/5; 3/36] END max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=200;, score=0.837 total time=   1.0s
[CV 2/5; 3/36] START max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=200
[CV 2/5; 3/36] END max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=200;, score=0.840 total time=   0.9s
[CV 3/5; 3/36] START max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=200
[CV 3/5; 3/36] END max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=200;, score=0.837 total time=   0.9s
[CV 4/5; 3/36] START max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=200
[CV 4/5; 3/36] END max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=200;, score=0.848 total time=   1.0s
[CV 5/5; 3/36] START max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=200
[CV 5/5; 3/36] END max_depth=5, max_features=sqrt, min_samples_split=2, n_estimators=200;, score=0.832 total time=   0.9s
[CV 1/5; 4/36] START max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=50
[CV 1/5; 4/36] END max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=50;, score=0.830 total time=   0.2s
[CV 2/5; 4/36] START max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=50
[CV 2/5; 4/36] END max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=50;, score=0.839 total time=   0.2s
[CV 3/5; 4/36] START max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=50
[CV 3/5; 4/36] END max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=50;, score=0.837 total time=   0.2s
[CV 4/5; 4/36] START max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=50
[CV 4/5; 4/36] END max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=50;, score=0.843 total time=   0.2s
[CV 5/5; 4/36] START max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=50
[CV 5/5; 4/36] END max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=50;, score=0.832 total time=   0.2s
[CV 1/5; 5/36] START max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=100
[CV 1/5; 5/36] END max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=100;, score=0.842 total time=   0.5s
[CV 2/5; 5/36] START max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=100
[CV 2/5; 5/36] END max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=100;, score=0.839 total time=   0.5s
[CV 3/5; 5/36] START max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=100
[CV 3/5; 5/36] END max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=100;, score=0.842 total time=   0.5s
[CV 4/5; 5/36] START max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=100
[CV 4/5; 5/36] END max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=100;, score=0.840 total time=   0.5s
[CV 5/5; 5/36] START max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=100
[CV 5/5; 5/36] END max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=100;, score=0.831 total time=   0.4s
[CV 1/5; 6/36] START max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=200
[CV 1/5; 6/36] END max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=200;, score=0.836 total time=   0.9s
[CV 2/5; 6/36] START max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=200
[CV 2/5; 6/36] END max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=200;, score=0.842 total time=   1.0s
[CV 3/5; 6/36] START max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=200
[CV 3/5; 6/36] END max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=200;, score=0.839 total time=   1.0s
[CV 4/5; 6/36] START max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=200
[CV 4/5; 6/36] END max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=200;, score=0.844 total time=   1.0s
[CV 5/5; 6/36] START max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=200
[CV 5/5; 6/36] END max_depth=5, max_features=sqrt, min_samples_split=5, n_estimators=200;, score=0.836 total time=   1.0s
[CV 1/5; 7/36] START max_depth=5, max_features=log2, min_samples_split=2, n_estimators=50
[CV 1/5; 7/36] END max_depth=5, max_features=log2, min_samples_split=2, n_estimators=50;, score=0.820 total time=   0.1s
[CV 2/5; 7/36] START max_depth=5, max_features=log2, min_samples_split=2, n_estimators=50
[CV 2/5; 7/36] END max_depth=5, max_features=log2, min_samples_split=2, n_estimators=50;, score=0.820 total time=   0.1s
[CV 3/5; 7/36] START max_depth=5, max_features=log2, min_samples_split=2, n_estimators=50
[CV 3/5; 7/36] END max_depth=5, max_features=log2, min_samples_split=2, n_estimators=50;, score=0.793 total time=   0.1s
[CV 4/5; 7/36] START max_depth=5, max_features=log2, min_samples_split=2, n_estimators=50
[CV 4/5; 7/36] END max_depth=5, max_features=log2, min_samples_split=2, n_estimators=50;, score=0.815 total time=   0.1s
[CV 5/5; 7/36] START max_depth=5, max_features=log2, min_samples_split=2, n_estimators=50
[CV 5/5; 7/36] END max_depth=5, max_features=log2, min_samples_split=2, n_estimators=50;, score=0.821 total time=   0.1s
[CV 1/5; 8/36] START max_depth=5, max_features=log2, min_samples_split=2, n_estimators=100
[CV 1/5; 8/36] END max_depth=5, max_features=log2, min_samples_split=2, n_estimators=100;, score=0.809 total time=   0.3s
[CV 2/5; 8/36] START max_depth=5, max_features=log2, min_samples_split=2, n_estimators=100
[CV 2/5; 8/36] END max_depth=5, max_features=log2, min_samples_split=2, n_estimators=100;, score=0.810 total time=   0.4s
[CV 3/5; 8/36] START max_depth=5, max_features=log2, min_samples_split=2, n_estimators=100
[CV 3/5; 8/36] END max_depth=5, max_features=log2, min_samples_split=2, n_estimators=100;, score=0.814 total time=   0.4s
[CV 4/5; 8/36] START max_depth=5, max_features=log2, min_samples_split=2, n_estimators=100
[CV 4/5; 8/36] END max_depth=5, max_features=log2, min_samples_split=2, n_estimators=100;, score=0.808 total time=   0.4s
[CV 5/5; 8/36] START max_depth=5, max_features=log2, min_samples_split=2, n_estimators=100
[CV 5/5; 8/36] END max_depth=5, max_features=log2, min_samples_split=2, n_estimators=100;, score=0.807 total time=   0.4s
[CV 1/5; 9/36] START max_depth=5, max_features=log2, min_samples_split=2, n_estimators=200
[CV 1/5; 9/36] END max_depth=5, max_features=log2, min_samples_split=2, n_estimators=200;, score=0.808 total time=   0.8s
[CV 2/5; 9/36] START max_depth=5, max_features=log2, min_samples_split=2, n_estimators=200
[CV 2/5; 9/36] END max_depth=5, max_features=log2, min_samples_split=2, n_estimators=200;, score=0.810 total time=   0.8s
[CV 3/5; 9/36] START max_depth=5, max_features=log2, min_samples_split=2, n_estimators=200
[CV 3/5; 9/36] END max_depth=5, max_features=log2, min_samples_split=2, n_estimators=200;, score=0.808 total time=   0.8s
[CV 4/5; 9/36] START max_depth=5, max_features=log2, min_samples_split=2, n_estimators=200
[CV 4/5; 9/36] END max_depth=5, max_features=log2, min_samples_split=2, n_estimators=200;, score=0.813 total time=   0.8s
[CV 5/5; 9/36] START max_depth=5, max_features=log2, min_samples_split=2, n_estimators=200
[CV 5/5; 9/36] END max_depth=5, max_features=log2, min_samples_split=2, n_estimators=200;, score=0.810 total time=   0.8s
[CV 1/5; 10/36] START max_depth=5, max_features=log2, min_samples_split=5, n_estimators=50
[CV 1/5; 10/36] END max_depth=5, max_features=log2, min_samples_split=5, n_estimators=50;, score=0.812 total time=   0.1s
[CV 2/5; 10/36] START max_depth=5, max_features=log2, min_samples_split=5, n_estimators=50
[CV 2/5; 10/36] END max_depth=5, max_features=log2, min_samples_split=5, n_estimators=50;, score=0.805 total time=   0.1s
[CV 3/5; 10/36] START max_depth=5, max_features=log2, min_samples_split=5, n_estimators=50
[CV 3/5; 10/36] END max_depth=5, max_features=log2, min_samples_split=5, n_estimators=50;, score=0.806 total time=   0.1s
[CV 4/5; 10/36] START max_depth=5, max_features=log2, min_samples_split=5, n_estimators=50
[CV 4/5; 10/36] END max_depth=5, max_features=log2, min_samples_split=5, n_estimators=50;, score=0.809 total time=   0.1s
[CV 5/5; 10/36] START max_depth=5, max_features=log2, min_samples_split=5, n_estimators=50
[CV 5/5; 10/36] END max_depth=5, max_features=log2, min_samples_split=5, n_estimators=50;, score=0.807 total time=   0.1s
[CV 1/5; 11/36] START max_depth=5, max_features=log2, min_samples_split=5, n_estimators=100
[CV 1/5; 11/36] END max_depth=5, max_features=log2, min_samples_split=5, n_estimators=100;, score=0.808 total time=   0.3s
[CV 2/5; 11/36] START max_depth=5, max_features=log2, min_samples_split=5, n_estimators=100
[CV 2/5; 11/36] END max_depth=5, max_features=log2, min_samples_split=5, n_estimators=100;, score=0.814 total time=   0.5s
[CV 3/5; 11/36] START max_depth=5, max_features=log2, min_samples_split=5, n_estimators=100
[CV 3/5; 11/36] END max_depth=5, max_features=log2, min_samples_split=5, n_estimators=100;, score=0.809 total time=   1.2s
[CV 4/5; 11/36] START max_depth=5, max_features=log2, min_samples_split=5, n_estimators=100
[CV 4/5; 11/36] END max_depth=5, max_features=log2, min_samples_split=5, n_estimators=100;, score=0.813 total time=   0.5s
[CV 5/5; 11/36] START max_depth=5, max_features=log2, min_samples_split=5, n_estimators=100
[CV 5/5; 11/36] END max_depth=5, max_features=log2, min_samples_split=5, n_estimators=100;, score=0.811 total time=   0.5s
[CV 1/5; 12/36] START max_depth=5, max_features=log2, min_samples_split=5, n_estimators=200
[CV 1/5; 12/36] END max_depth=5, max_features=log2, min_samples_split=5, n_estimators=200;, score=0.807 total time=   1.4s
[CV 2/5; 12/36] START max_depth=5, max_features=log2, min_samples_split=5, n_estimators=200
[CV 2/5; 12/36] END max_depth=5, max_features=log2, min_samples_split=5, n_estimators=200;, score=0.812 total time=   0.9s
[CV 3/5; 12/36] START max_depth=5, max_features=log2, min_samples_split=5, n_estimators=200
[CV 3/5; 12/36] END max_depth=5, max_features=log2, min_samples_split=5, n_estimators=200;, score=0.809 total time=   0.8s
[CV 4/5; 12/36] START max_depth=5, max_features=log2, min_samples_split=5, n_estimators=200
[CV 4/5; 12/36] END max_depth=5, max_features=log2, min_samples_split=5, n_estimators=200;, score=0.816 total time=   0.7s
[CV 5/5; 12/36] START max_depth=5, max_features=log2, min_samples_split=5, n_estimators=200
[CV 5/5; 12/36] END max_depth=5, max_features=log2, min_samples_split=5, n_estimators=200;, score=0.818 total time=   0.7s
[CV 1/5; 13/36] START max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=50
[CV 1/5; 13/36] END max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=50;, score=0.857 total time=   0.4s
[CV 2/5; 13/36] START max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=50
[CV 2/5; 13/36] END max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=50;, score=0.854 total time=   0.3s
[CV 3/5; 13/36] START max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=50
[CV 3/5; 13/36] END max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=50;, score=0.859 total time=   0.3s
[CV 4/5; 13/36] START max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=50
[CV 4/5; 13/36] END max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=50;, score=0.863 total time=   0.3s
[CV 5/5; 13/36] START max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=50
[CV 5/5; 13/36] END max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=50;, score=0.859 total time=   0.3s
[CV 1/5; 14/36] START max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=100
[CV 1/5; 14/36] END max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=100;, score=0.858 total time=   0.7s
[CV 2/5; 14/36] START max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=100
[CV 2/5; 14/36] END max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=100;, score=0.857 total time=   0.7s
[CV 3/5; 14/36] START max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=100
[CV 3/5; 14/36] END max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=100;, score=0.860 total time=   0.8s
[CV 4/5; 14/36] START max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=100
[CV 4/5; 14/36] END max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=100;, score=0.865 total time=   0.7s
[CV 5/5; 14/36] START max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=100
[CV 5/5; 14/36] END max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=100;, score=0.858 total time=   0.8s
[CV 1/5; 15/36] START max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=200
[CV 1/5; 15/36] END max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=200;, score=0.860 total time=   2.1s
[CV 2/5; 15/36] START max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=200
[CV 2/5; 15/36] END max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=200;, score=0.858 total time=   1.6s
[CV 3/5; 15/36] START max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=200
[CV 3/5; 15/36] END max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=200;, score=0.863 total time=   1.7s
[CV 4/5; 15/36] START max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=200
[CV 4/5; 15/36] END max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=200;, score=0.865 total time=   1.6s
[CV 5/5; 15/36] START max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=200
[CV 5/5; 15/36] END max_depth=10, max_features=sqrt, min_samples_split=2, n_estimators=200;, score=0.858 total time=   1.7s
[CV 1/5; 16/36] START max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=50
[CV 1/5; 16/36] END max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=50;, score=0.860 total time=   0.4s
[CV 2/5; 16/36] START max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=50
[CV 2/5; 16/36] END max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=50;, score=0.856 total time=   0.3s
[CV 3/5; 16/36] START max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=50
[CV 3/5; 16/36] END max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=50;, score=0.863 total time=   0.3s
[CV 4/5; 16/36] START max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=50
[CV 4/5; 16/36] END max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=50;, score=0.863 total time=   0.3s
[CV 5/5; 16/36] START max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=50
[CV 5/5; 16/36] END max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=50;, score=0.859 total time=   0.3s
[CV 1/5; 17/36] START max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=100
[CV 1/5; 17/36] END max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=100;, score=0.859 total time=   0.8s
[CV 2/5; 17/36] START max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=100
[CV 2/5; 17/36] END max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=100;, score=0.857 total time=   0.8s
[CV 3/5; 17/36] START max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=100
[CV 3/5; 17/36] END max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=100;, score=0.864 total time=   0.7s
[CV 4/5; 17/36] START max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=100
[CV 4/5; 17/36] END max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=100;, score=0.865 total time=   0.7s
[CV 5/5; 17/36] START max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=100
[CV 5/5; 17/36] END max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=100;, score=0.858 total time=   0.7s
[CV 1/5; 18/36] START max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=200
[CV 1/5; 18/36] END max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=200;, score=0.857 total time=   1.5s
[CV 2/5; 18/36] START max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=200
[CV 2/5; 18/36] END max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=200;, score=0.857 total time=   1.6s
[CV 3/5; 18/36] START max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=200
[CV 3/5; 18/36] END max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=200;, score=0.862 total time=   1.5s
[CV 4/5; 18/36] START max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=200
[CV 4/5; 18/36] END max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=200;, score=0.865 total time=   1.5s
[CV 5/5; 18/36] START max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=200
[CV 5/5; 18/36] END max_depth=10, max_features=sqrt, min_samples_split=5, n_estimators=200;, score=0.857 total time=   1.5s
[CV 1/5; 19/36] START max_depth=10, max_features=log2, min_samples_split=2, n_estimators=50
[CV 1/5; 19/36] END max_depth=10, max_features=log2, min_samples_split=2, n_estimators=50;, score=0.849 total time=   0.3s
[CV 2/5; 19/36] START max_depth=10, max_features=log2, min_samples_split=2, n_estimators=50
[CV 2/5; 19/36] END max_depth=10, max_features=log2, min_samples_split=2, n_estimators=50;, score=0.856 total time=   0.3s
[CV 3/5; 19/36] START max_depth=10, max_features=log2, min_samples_split=2, n_estimators=50
[CV 3/5; 19/36] END max_depth=10, max_features=log2, min_samples_split=2, n_estimators=50;, score=0.856 total time=   0.3s

GridSearchCV(estimator=RandomForestClassifier(),
             param_grid={'max_depth': [5, 10, 20],
                         'max_features': ['sqrt', 'log2'],
                         'min_samples_split': [2, 5],
                         'n_estimators': [50, 100, 200]},
             verbose=10)

In [59]:
grid.best_estimator_

RandomForestClassifier(max_depth=20, min_samples_split=5, n_estimators=200)

In [60]:
f = grid.best_estimator_
f.score(X_test, y_test)

0.8618077592384072